@model IEnumerable<StudentTeacherManagement.Models.Teacher>

<div class="card shadow-sm mt-4">
    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Teacher List</h3>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
            <a asp-action="Create" class="btn btn-primary">Add Teacher</a>
          
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Classes</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.Name</td>
                        <td>@teacher.Age</td>
                        <td>@teacher.Classes</td>
                        <td>@teacher.Sex</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
